.DronesOverview {
  position: absolute;
  z-index: 130;
  top: 0;
  right: 0;
  padding: 30px 30px 0 0;
  min-width: 90px;
  color: #dfe3ff;
  text-shadow: 0 1px 6px #00adff;
}

.DronesOverview-header {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
}

.DronesItem {
  width: 100%;
  margin-bottom: 5px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.DronesItem::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
}

.DronesItem-video::before {
  background: green;
}

.DronesItem-worker::before {
  background: orange;
}

.DronesItem-count {
  margin-right: 5px;
  width: 30px;
  text-align: center;
}

.DronesItem-type {

}